
/* Import font family import the font and then add the font name in the font family list in the css body */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&family=Roboto:ital,wght@1,100&family=Vina+Sans&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    /* background-color: aqua; */
}

/* referencing background color */
#wrapper{
    height: 100vh;
    /* load multiple images by using more than one urr() separated by commas */
    /* background-image: url('/SBO Logo.png'), url('/cbg.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */

    /* short for background image styling  */
    /* linear-gradient(), conic-gradient (), radial-gradient () functions */
    /* to right, to top,  */
    /* background: linear-gradient(to right, red 30%, blue, green 50%); */
    background: url('/SBO Logo.png') lightsalmon;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 5%; */
    /* filter:opacity(45%); */
    /* mix-blend-mode: color-burn; */
    /* filter: opacity(20px);
    filter: brightness(4rem); */
}
/* Center the form */
form{
    border: .2rem solid red;
    background-color: lightpink;
    width: 48vw;
    margin: 0 auto ;
    height: 100vh;
    padding: 2rem auto;
    filter:opacity(85%);
    border-radius: 10% 10% 10% 10%;
}

/* style fieldname class */
form > .fieldname{
    /* margin: 4rem auto; */
    font-size: xx-large;
    color: white;
    filter:opacity(100%);
}
/* style inputs class */
#wrapper > form > .fieldname > .inputfields {
    font-size:1rem;
    width: 80%;
    border: .1rem solid red;
    color: pink;
    padding:10px;
    margin: 10%;
}
/* style inputs class over */
#wrapper > form > .fieldname > .inputfields:hover {
    border: .1rem solid grey;
    background-color: lightgrey;
}
/* style buttons */
#wrapper > form > button{
    width: 20%;
    border: .2rem solid red;
    font-size:1rem;
    background-color: palevioletred;
    padding: 10px;
    color: white;
    margin: 0% 10% 0% 15%;
}
/* style inputs class over */
#wrapper > form >  button:hover {
    border: .1rem solid yellow;
    background-color: lightyellow;
    color: black;
}
/* Center an inline tag by TEXT-ALIGN */
.username, button {
    border: .1rem solid green;
    text-align: center;
}
/* center a main tag with Width resize and margin auto */
.username, .email, .passowrd {
    width: 50%;
    margin: 0 auto;
}
/* To remove outline when selecting input tag */
.username > input[type="text"], .email > input[type="email"]{
    outline: none;
    outline-style: groove;
    outline-color: yellowgreen;
    outline-width: .5rem;
    height: 50px;
    width: 100%;
    font-size: 2rem;
    /* Roboto is the imported font from google fonts */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Roboto;
    padding-left: 1 rem;
    color: green;
}